RewriteEngine On
RewriteBase /

# Exclude invoice print routes from rewrite
RewriteCond %{QUERY_STRING} (^|&)print-order= [NC]
RewriteRule ^ - [L]

# Force SSL
RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Proxy all requests to the Node.js application on port 3000
RewriteRule ^(.*)$ http://127.0.0.1:3000/$1 [P,L]
